<html>
  <head>
    <title> home </title>

  </head>

  <body>
  <h1>Home Page</h1>
	<h2>{{heading}}</h2>


  <p>
    Welcome {{ username }} to O Tree Stories! <br></p>
    What can we do for you today? <br></p>
    <form action="/" method="POST">
      <input type="submit" value="Log out" name="logout"> <!-- Creates logout button -->
    </form>
  </p>

<a href="add"><button type="new" class="btn_btn-primary">Create New Story</button></a>
<a href="search"><button type="search" class="btn_btn-primary">Search</button></a>
<br>
  <div>
    <h3>My Stories</h3>
    <table>
      {% for dict_item in collection %}
         {% for key, value in dict_item.items() %}
         <tr>
          <th><a href="{{ url_for('story', storyID = key) }}">{{ key }}</a></th>
          <th>{{ value }}</th>
         </tr>
         {% endfor %}
      {% endfor %}
    </table>
  </div>


</body>



</html>
