<html>
  <head>
    <title> home </title>

  </head>

  <body>
  <h1>Home Page</h1>
	<h2>{{heading}}</h2>


  <p>
    hello {{ username }}. <br>
    Logout:
    <form action="/" method="POST">
      <input type="submit" value="Log out" name="logout"> <!-- Creates logout button -->
    </form>
  </p>

  <div>
    <table>
    {% for row in collection %}


      <tr>row[1]</tr>


    {% endfor %}
    </table>
  </div>

  <a href=""><button type="new" class="btn_btn-primary">Create New Story</button></a>
  <a href="search"><button type="search" class="btn_btn-primary">Search</button></a>
</body>



</html>
