<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Story</title>
</head>
<body>
	<h1>Story Page</h1>
	<h2>{{heading}}</h2>
<form method="POST">
    <p>Story Title: <br></p>
    <input type="text" name="title"><br>
    <p>First contribution: <br></p>
    <textarea name="firstContribute"></textarea>
    <br>
    <input type="submit" name="sub1"> <br></p>
  </form>

	{{status}}

	<a href="{{ url_for('disp_home') }}"><button type="home">Home</button></a>
	<a href="{{ url_for('search') }}"><button type="search">Search</button></a>

</body>
</html>
