<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<div>
	<form action="" class="search-bar" method="GET">
		<input type="search" name="search" placeholder="Search For Oppertunities" style="height:35px;">
		<button type="submit">Search</button>
	</form>
</div>
<p><br></p>
<TABLE class="center">
	<tr>
		<th class="stories">Story Name</th>
		<th class="lastEdit">Last Edit</th>
	</tr>

{% for row in fulldata %}

<tr>
	
</tr>

{% endfor %}


</TABLE>

</body>
</html>